<h1>Login</h1>

<div class="col-6">
  <%= form_tag '/login', class: "form-group" do %>

    Email: <%= text_field_tag :email, class: "form-input" %>
    Password: <%= password_field_tag :password, class: "form-input" %>
    <%= submit_tag "Submit", class: "btn" %>

  <% end %>
</div>