<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
      <section class="navbar-section">
          <a href="#" class="navbar-brand">
              <i class="icon icon-pages"></i> URL-Lockbox
          </a>
          <% if current_user %>
            <a href="/logout" class="btn btn-link user-status">Logout</a>
          <% end %>
      </section>
  </header>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
